body {
  padding: 0px;
  margin: 0;
  font-family: 'Almarai', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

.bg-grey {
  background-color: #f8f8f8;
}

.bg-sub-footer {
  background-color: #5948B9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Keeps divider (Navbar) on Desktop (Remove on Mobile) */
@media screen and (min-width: 800px) {
  .custom-divider {
    border-left: 2px solid lightgrey;
    padding-left: 10px;
  }
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
  
}

/* Add Special Top Padding To Mobile Input fields */
@media screen and (max-width: 800px) {
  .pt-special {
    padding-top: 5px;
  }
  .mobile-hidden {
    display: none;
    visibility: hidden;
  }
}

/* Special Font For Tables On Mobile */
@media screen and (max-width: 800px){
  .font-table-sm {
    font-size: 0.8rem;
  }
}



/* Makes Placeholder to the right (always) in Number input */
input[type="number"]:-moz-placeholder {
  text-align: right;
}
input[type="number"]:-ms-input-placeholder {
  text-align: right;
}
input[type="number"]::-webkit-input-placeholder {
  text-align: right;
}

/* Remove arrows (increament, decrement) from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/* Increase Radio & Checkbox Input Size */
input[type="radio"] {
  transform:scale(1.15);
}
input[type="checkbox"] {
  transform:scale(1.15);
}

/* Checkbox List Container */
@media screen and (max-width: 800px) {
  .checkbox-list {
    border: 2px solid #ccc;
    width: 250px;
    height: 150px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 800px) {
  .checkbox-list {
    border: 2px solid #ccc;
    width: 420px;
    height: 150px;
    overflow-y: scroll;
  }
}


/* Make Number Inputs from Right to Left */
.num-input{
direction: ltr;
}

.num-input:focus{
text-align: left;
direction: ltr;
}

/* For Top Image Display */
.carousel-item {
  height: 42vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.font-weight-nav {
  font-size: 1.05rem;
  font-weight: 550;
}

.font-sm {
  font-size: .6rem;
  font-weight: 400;
}

.font-info {
  font-size: .7rem
}

.text-h {
  display: none;
}

/* Special Font Size For Main Titles */
.display-5{
  font-size:2.85rem;
  font-weight:600;
  line-height:1.2;
  text-shadow: 2px 2px #00000f;
}

.display-6{
  font-size:2.25rem;
  font-weight:700;
  line-height:1.2
}

.user-6 {
  font-size:2.25rem;
  font-weight:700;
  line-height:1.2;
  text-shadow: 0px 1px #00000f;
}

.display-7{
  font-size:1.80rem;
  font-weight:700;
  line-height:1.2
}

.display-8{
  font-size:1.30rem;
  font-weight:700;
  line-height:1.2
}

.large-link{
  font-size:1.00rem;
  font-weight:700;
  line-height:1.2
}

.info-weight{
  font-size:0.95rem;
  font-weight:450;
  line-height:1.2
}

/* No Wrap In Tables */


th {
  white-space: nowrap;
}

td {
  white-space: nowrap;
}

.break-line {
  white-space: pre-line;
}

.hidden-nav {
  display: none;
}

.no-arrow .dropdown-toggle::after {
  content: none;
}

/* No Text Decoration */
.tc {
  text-decoration: none;
}


/* Custom File Input */

.file-custom::-webkit-file-upload-button {
  visibility: hidden;
}

.file-custom::before {
  content: 'إختر صورة';
  display: inline-block;
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-custom:hover::before {
  border-color: black;
}
.file-custom:active::before {
  background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}


/* Smart Scroll Navbar */

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}


/* No Shadow Effect For Cards */
.light-shadow{
  -webkit-box-shadow: 3px 3px 5px 6px #e8e8e8;
  -moz-box-shadow: 3px 3px 5px 6px #e8e8e8;
  -o-box-shadow: 3px 3px 5px 6px #e8e8e8;
  box-shadow: 3px 3px 5px 6px #e8e8e8;
}


/* Spinners */
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow .75s linear infinite;
          animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}
.custom-search{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding-top: 15px;
}
.lbl-search{
  /* padding-right: 5px; */
}
#price-from,#price-to{
  max-width: 50px;

}
.header{
  color: #5948B9;
  font-weight: bolder;
}
.for-range{
  display: block;
}
.block-range{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.p{
  display: inline;
}
/* .table-responsive.mt-5{
overflow-x: auto;
} */
@media screen and (max-width: 767px) {
  .table-responsive.mt-5{
    overflow-x: auto;
    width: 100;
    padding: 0px;

  }
  .card-body{
    padding: 0%;
    margin: 0%;
  }
  .order.container{
    margin: 0px;
    padding: 0px;
  }
  table.order.table thead th {
    padding-left:0.1px;
    padding-right: 0.1px; 
    font-size: 6px; 

  margin-right: -9px;
  border: none;
  }
table.order.table td {
  padding-left:0.1px;
  padding-right: 0.1px;
  margin-right: -9px;
  margin-left: -9px;
  font-size: 6px;
  border: none;

}
.order .btn.btn-sm{
  /* padding-left:0px;
  padding-right: 0px;
  color:#ebebeb;
  background-color: #ebebeb !important; */
  padding: .5rem 0.2rem;


}

}
div.container.text-center.mt-4{
  padding-top:360px !important;
}
.bg-darken{
  background-color: #212121;
}
footer h6,footer hr,footer .sites{
  color: #e3e3e3;
}
footer h6{
  font-weight:400;
}
footer div p a{
  color: purple!important;
}
footer hr{
  border: 1px solid;
  color:#a6c !important
}
.carousel-item.active{
  margin-top: -20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}